@model IEnumerable<App_ControleDeFuncionarios.Models.Funcionario>

@{
    ViewBag.Title = "Listagem";
}

<h2>Listagem</h2>

<div>
    <a href="@Url.Action("Create")" class="btn btn-primary">Cadastrar</a><br /><br />
</div>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th>            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Funcionarios", new { id = item.Id })" class="btn btn-warning">Editar</a>
            <a href="@Url.Action("Details", "Funcionarios", new { id = item.Id })" class="btn btn-info">Detalhes</a>
            <a href="@Url.Action("Delete", "Funcionarios", new { id = item.Id })" class="btn btn-danger">Deletar</a>            
        </td>
    </tr>
}

</table>
